{% extends 'base.html' %}

{% block head %}
<title>Fik Event Manager</title>
{% endblock %}

{% block body %}
<div class="content"> 
    <h1>Fik Event Manager</h1>
    {% if events|length < 1 %}
    <h4>There are no events. Create one below.</h4>
    {% else %}
    <table>
        <tr>
            <th>Event</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.content }}</td>
                <td>{{ event.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{event.id}}">Delete</a>
                    <br>
                    <a href="/update/{{event.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Event">    
    </form>
    <form action="/submit" method="POST">
        <label for="user_input">Enter a username:</label>
        <input type="text" id="user_input" name="user_input">
        <input type="submit" value="Submit">
    </form>
    <table>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
