body {
  background-color: #0d0d14;
  font-family: 'Fira-sans', 'sans-serif';
}

.no-scroll {
  overflow:hidden;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  justify-content: center;
  margin:0;
}


/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.logo {
  min-height: 1rem;
  max-height: 3rem;
}



/* Card Styles */
.card {
  border-radius: 6px;
  color: white;
  padding: 2em;
  margin:0;
  border: 1px solid rgba(75, 82, 92, 0.3);
  justify-content: center;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.event-title  {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  margin: 30px 0;
  font-weight: 600;
}

.event-description, .event-title {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  transform: scale(1.05);
}


/* TODO: zamienic definiowanie koloru w JS na definiowanie typu wydarzenia i na podstawie tego przypisanie koloru*/

/* modal + card BG colors */
.modal, .card[data-type="design"] {
  background-color: rgba(15,26,21,1);
}

.modal, .card[data-type="science"] {
  background-color: rgba(38,12,18,1);
}

.modal, .card[data-type="literature"] {
  background-color: rgba(38,22,25,1);
}

.modal, .card[data-type="technology"] {
  background-color: rgba(38,12,18,1);
}

.modal, .card[data-type="health"] {
  background-color: rgba(25,12,31,1);
}

.modal, .card[data-type="arts"] {
  background-color: rgba(19,25,36,1);
}

.modal, .card[data-type="workshop"] {
  background-color: rgba(38,29,18,1);
}

.modal, .card[data-type="education"] {
  background-color: rgba(38,12,18,1);
}


.modal::-webkit-scrollbar {
  border-radius: 10px;
}
.modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  color: red;
}

.modal::-webkit-scrollbar-track {
  background: rgb(38, 12, 18);
  }


.bbballs {
 max-width: 200px;
  margin-left: 100px;
}

.balls {
  display: flex;
  flex-direction: row;
  flex: 1;

}


.modal {
  border-radius: 6px;
  padding-inline: 1.5rem;
  color: white;
  border: 1px solid rgba(75, 82, 92, 0.3);
  justify-content: center;
  text-align: left;
  transition: transform 0.3s ease;
  box-shadow: 0.3s ease;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
  text-wrap: balance;
  max-height: 88vh;
  position: relative !important;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.modal-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-wrap: balance;
}

.close-button {
  display: flex;
  background: none;
  color: white;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  max-height: 1.25rem;
  max-width: 1.25rem;
  margin-right: 0.75rem;
}

.modal-info-container {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  gap: 0.75rem; 
  max-width: 450px;
  padding-bottom: 1.5rem; 
}

.modal-info-container > div {
  color: rgb(227, 226, 226);
  font-weight: 400;
  display: flex;
  align-items: center; 
  gap: 0.5rem;
  padding: 0; 
  margin: 0; 
}

.event-date,
.event-host,
.event-location {
  margin-bottom: 0; 
}

.modal-info-container > div > p {
  margin: 0;
}

@media (max-width: 900px) {
  .modal-info-container {
    grid-template-columns: repeat(2, auto); 
    column-gap: 0;
    gap: 0.5rem; 
    max-width: 275px;
  }
}

.modal-description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  max-width: 900px;
  min-width: 300px;
  margin-top: 0;
  text-wrap: balance;
}

.extra-info-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.modal-event-info {
  font-size: 1.25rem;
}

.sign-up-button {
  font-weight: 600 !important;
  font-size: 1rem;
  justify-content: center;
  background: rgb(124, 34, 34);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  z-index: 999; 
  position: absolute; 
  inset-inline: 0;
  height: auto;
  margin-inline: auto; 
  width: fit-content;
  bottom: 100px;

  padding: 1rem;
}

.participants-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
}

.participants-number:last-child {
  font-size: 1.5rem;
}

li {
  font-weight: 200;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .modal {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .modal-description {
    font-size: 1rem; 
  }

  .modal-title {
    font-size: 1.5rem;
  }

}

