.upper_stripe {

    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 75px;
    display: flex;
    position: relative;
    top: -15px;
    left: -10px;
}
.violet_text {
    color: blueviolet;
    position: relative;
    font-size: 40px;
    top: 20%;
    left: 30px;
}
.profile_icon {
    color: blueviolet;
    position: relative;

    font-size: 40px;


    
}
.up_right_section {
    width: 30%;
    height: 75px;
    display: block;
    position: relative;

    left: 900px;
}