/* Set a style for all buttons */
button {
  position: relative;
  top: 400%;
  left: 0;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
    
  }