:root {
  
  --clr-primary: #F6F6F6;
  --clr-secondary: #31323A;
  --clr-dark: #141414;
  --clr-active: #2432EF;

}



body {
  background-color: var(--clr-primary);
  
}


.container {
  font-family: "PT Sans", sans-serif;
  height: 100%;
  /*background-color: blue;*/
  
}


.navbar {
  display: flex; 
  justify-content: space-between; 
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  background-color: var(--clr-primary);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.event-list {
  height: 1000px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.event-box {
  padding-left: 2rem;
  padding-right: 2rem;
  /*background-color: red;*/
}

.event-title {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: var(--clr-dark);
  padding-bottom: 1rem;
  justify-content: left;

  
  /*outline-style: solid;
  outline-color: red;
  outline-width: thin;*/
  
}

.event-name {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  overflow: hidden;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
  display: -webkit-box;
  /*-style: solid;
  outline-color: green;
  outline-width: thin;*/

}

.participants-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.participants-number.green {
  color: green;
}

.participants-number.red {
  color: red;
}


.event-description {
  color: var(--clr-secondary);
  line-height: 1.5;
}

